.ad-wrapper {
	width: 1226px;
	height: 170px;
	margin: 10px auto;
	/*background-color: red;*/
}
.shortcut, .ad-img, .ad-img a {
	float: left;
}

/*左边部分*/
.shortcut {
	width: 234px;
	height: 172px;
	background-color: #615750;
}
.shortcut li {
	list-style:none; 
	width: 70px;
	height: 82px;
	padding: 0 3px;
	float: left;
	position: relative;
	margin-top: 2px;
	margin-left: 2px;
}
.shortcut a {
	display: block;
	width: 70px;
	height: 46px;
	text-decoration: none;
	color: #CFCCCA;
	padding-top: 18px;  
	text-align: center;
	font-size: 12px;
}
.shortcut a:hover {
	color: white;
}

.shortcut li a i {
	display: block;
	width: 24px;
	height: 24px;
	margin:0 23px 4px;
	font-size: 20px;
}
.shortcut li:before {
	content:'';
	position: absolute;
	width: 64px;
	height: 1px;
	background-color: #665e57;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.shortcut li:after {
	content:'';
	position: absolute;
	width: 1px;
	height: 70px;
	background-color: #665e57;
	top: 0;
	bottom: 0;
	margin: auto 0;
}

/*右边部分*/
.ad-img {
	margin-left: 14px;
}
.ad-img a {
	display: block;
	width: 316px;
	height: 170px;
	margin-right: 15px;
}
/*将最后一个超链接的右边距去除*/
.ad-img a:last-child {
	margin-right: 0;
}
.ad-img a img {
	width: 100%;
}